.App {
  text-align: center;
  background-color: #f2f7fc;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  margin-top: 80px;
}

.MetricsTable .ProductTab {
  flex: 1;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 2rem;
}

.ProductTab {
  background-color: #ffffff;

}